@use 'fonts';
@use 'sass:color';

$background-color: #151014;
$background-color-blend: #181425;
$border-color: color.adjust($background-color, $lightness: -50%);

$main-background-color: rgb(23, 20, 32);
$body-background-color: rgba(23, 20, 32, 0.9);
// $main-background-color: #2f2847;
// $body-background-color: #26203d;
$accent-color: #231f34;
$accent-border-color: color.adjust($accent-color, $lightness: -20%);

$title-font-color: #eee;
$font-color: #e4e4e4;
$link-colors: #a9c6d4;


$font-header: 'JuliusSansOne-Regular', Calibri, 'Trebuchet MS', sans-serif;
$font-h: 'Questrial-Regular', Cambria, Cochin, Georgia, serif;
$font-main: 'Raleway-Regular', Tahoma, Geneva, Verdana, sans-serif;

$main-margin: 1.96rem;

img {
  filter: brightness(0.8) contrast(1.2);
}
